body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.calculator {
    width: 40%;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result-container {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.result-container h2 {
    margin-bottom: 10px;
    color: #007bff;
}
